<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="../static/css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Grão Bonito</title>
    <link rel="icon" type="image/x-icon" href="../static/images/icon.ico">
    <img class="banner" src="../static/images/banner-site.jpg">
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'index2' %}">Produtos</a>
                <ul style="z-index: 9900; padding:-1px; margin-left: 6px;">
                        <li style="width:50%"><a href="{% url 'index2' %}">Frutas</a></li>
                        <li style="width:50%"><a href="{% url 'index2' %}">Verduras</a></li>
                        <li style="width:50%"><a href="{% url 'index2' %}">Grãos</a></li>
                        <li style="width:50%"><a href="{% url 'index2' %}">Bebidas</a></li>
                    </ul>
                </li>
            <li><a href="{% url 'carrinho' %}">Carrinho</a></li>
            <li><a href="{% url 'sobre' %}">Sobre nós</a></li>
    </ul>
    </nav>
<main>
  <section class="caroulsel">

    <div class="caroulsel-wrap">
    <<a href="{% url 'carrinho' %}"> <img src="../static/images/maçã.png" alt=""width="100%" weight="100%" height="100%"> </a>
    <a href="{% url 'carrinho' %}"> <img src="../static/images/laranja.png" alt=""width="100%" weight="100%" height="100%"> </a>
    <a href="{% url 'carrinho' %}"> <img src="../static/images/morango.png" alt=""width="100%" weight="100%" height="100%"> </a>
    <a href="{% url 'carrinho' %}"> <img src="../static/images/banana.png" alt=""width="100%" weight="100%" height="100%"> </a>
        </div>
        <tbody>
            {% for produto in produto1%}
            <tr><h1>
                <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.estoque }}</td>
            </h1>
            </tr>
            {% endfor %}
        </tbody>
        <tbody>
            {% for produto in produto2%}
            <tr><h1>
                <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.estoque }}</td>
            </h1>
            </tr>
            {% endfor %}
        </tbody>
        <tbody>
            {% for produto in produto3%}
            <tr><h1>
                <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.estoque }}</td>
            </h1>
            </tr>
            {% endfor %}
        </tbody>
        <tbody>
            {% for produto in produto4%}
            <tr><h1>
                <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.estoque }}</td>
            </h1>
            </tr>
            {% endfor %}
        </tbody>

<br><hr><br>

    <div class="caroulsel-wrap">
        <a href="{% url 'carrinho' %}"> <img src="../static/images/alface.png" alt=""width="100%" weight="100%" height="100%"> </a>
        <a href="{% url 'carrinho' %}"> <img src="../static/images/couve-flor.png" alt=""width="100%" weight="100%" height="100%"> </a>
        <a href="{% url 'carrinho' %}"> <img src="../static/images/brocolis.png" alt=""width="100%" weight="100%" height="100%"> </a>
        <a href="{% url 'carrinho' %}"> <img src="../static/images/espinafre.png" alt=""width="100%" weight="100%" height="100%"> </a>
        </div>
        <tbody>
            {% for produto in produto5%}
            <tr><h1>
                <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.estoque }}</td>
            </h1></tr>
            {% endfor %}
        </tbody>
        <tbody>
            {% for produto in produto6%}
            <tr><h1>
                <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.estoque }}</td>
            </h1>
            </tr>
            {% endfor %}
        </tbody>
        <tbody>
            {% for produto in produto7%}
            <tr><h1>
                <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.estoque }}</td>
            </h1>
            </tr>
            {% endfor %}
        </tbody>
        <tbody>
            {% for produto in produto8%}
            <tr><h1>
                <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.estoque }}</td>
            </h1>
            </tr>
            {% endfor %}
        </tbody>

        <br><hr><br>

    <div class="caroulsel-wrap">
        <a href="{% url 'carrinho' %}"> <img src="../static/images/arroz.png" alt=""width="100%" weight="100%" height="100%"> </a>
        <a href="{% url 'carrinho' %}"> <img src="../static/images/feijão.png" alt=""width="100%" weight="100%" height="100%"> </a>
        <a href="{% url 'carrinho' %}"> <img src="../static/images/grãodebico.png" alt=""width="100%" weight="100%" height="100%"> </a>
        <a href="{% url 'carrinho' %}"> <img src="../static/images/café.png" alt=""width="100%" weight="100%" height="100%"> </a>
    </div>
    <tbody>
        {% for produto in produto9%}
        <tr><h1>
            <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.estoque }}</td>
        </h1>
        </tr>
        {% endfor %}
    </tbody>
    <tbody>
        {% for produto in produto10%}
        <tr><h1>
            <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.estoque }}</td>
        </h1>
        </tr>
        {% endfor %}
    </tbody>
    <tbody>
        {% for produto in produto11%}
        <tr><h1>
            <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.estoque }}</td>
        </h1>
        </tr>
        {% endfor %}
    </tbody>
    <tbody>
        {% for produto in produto12%}
        <tr><h1>
            <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.estoque }}</td>
        </h1>
        </tr>
        {% endfor %}
    </tbody>
   
    <br><hr><br>
   
    <div class="caroulsel-wrap">
        <a href="{% url 'carrinho' %}"> <img src="../static/images/leite.png" alt=""width="100%" weight="100%" height="100%"> </a>
        <a href="{% url 'carrinho' %}"> <img src="../static/images/vinho.png" alt=""width="100%" weight="100%" height="100%"> </a>
        <a href="{% url 'carrinho' %}"> <img src="../static/images/suco.png" alt=""width="100%" weight="100%" height="100%"> </a>
        <a href="{% url 'carrinho' %}"> <img src="../static/images/aguadecoco.png" alt=""width="100%" weight="100%" height="100%"> </a>
    </div>
    <tbody>
        {% for produto in produto13%}
        <tr><h1>
            <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.estoque }}</td>
        </h1>
        </tr>
        {% endfor %}
    </tbody>
    <tbody>
        {% for produto in produto14%}
        <tr><h1>
            <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.estoque }}</td>
        </h1>
        </tr>
        {% endfor %}
    </tbody>
    <tbody>
        {% for produto in produto15%}
        <tr><h1>
            <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.estoque }}</td>
        </h1>
        </tr>
        {% endfor %}
    </tbody>
    <tbody>
        {% for produto in produto16%}
        <tr><h1>
            <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.estoque }}</td>
        </h1>
        </tr>
        {% endfor %}
    </tbody>
  </section>
</main>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2022-2023 Grão Bonito</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="https://www.tiktok.com/@felipe_sanches_nf/video/6981183798331428101?is_copy_url=1&is_from_webapp=v1"target="_blank">Privacidade</a></li>
        <li class="list-inline-item"><a href="https://www.tiktok.com/@felipe_sanches_nf/video/6827246531293252869?is_copy_url=1&is_from_webapp=v1"target="_blank">Termos</a></li>
        <li class="list-inline-item"><a href="https://www.tiktok.com/@felipe_sanches_nf/video/6827245445132193029?is_copy_url=1&is_from_webapp=v1"target="_blank">Suporte</a></li>
    </ul>
  </footer>
</body>
</html>


